body{
    background: rgb(0,26,36);
    background: linear-gradient(315deg, rgba(0,26,36,1) 0%, rgba(9,66,121,1) 33%, rgba(166,240,255,1) 100%);
    background-repeat: no-repeat;
    background-size: contain;
    height:100vh;
}

.containerPokedex{
    text-align: center;
    background-color: red;
    border-radius: 20px;
    transform: translate(0%, -35%);
    border: solid black;
    border: 0 2px 2px 2px;
    -webkit-transform: translate(0%, -35%);
    -moz-transform: translate(0%, -35%);
    -ms-transform: translate(0%, -35%);
    -o-transform: translate(0%, -35%);
}
.pokedex{
    font-family: 'Pokemon Solid', sans-serif;
    font-weight: lighter;
    color: #e0d7da;
    padding: 50px 0px 20px 0px;
    margin: 0%;
}

.pokemon-container {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 20px;
}

.pokemon-block,
.pokemon-block-back{
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 3px 15px rgba(39, 38, 38, 0.5);
}

.img-container {
    background-image: url(./assets/img/blob.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.pokemon-block p {
    margin: 5px;
}

.name {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 20px;
}

.pagination {
    width: 100%;
    margin: 50px auto 50px auto;
    display: flex;  
    justify-content: space-between;
}

#previous , #next{
    text-align: center;
    width: 100%;
}

.pagination-link:hover {
    transform: scale(1.1);
}

.pagination-link {
    text-decoration: none;
    color: black; 
    transition: all 0.3s;
    border-radius: 5px;
    background-color: grey;
    height: 100%;
    padding: 10px;
    box-shadow: 0 0 10px;
}

.card-container {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    -webkit-transition: transform 0.8s;
    -moz-transition: transform 0.8s;
    -ms-transition: transform 0.8s;
    -o-transition: transform 0.8s;
}

.flip-card{
    width: 100%;
}

.flip-card:hover .card-container {
    transform: rotateY(180deg);
}


.pokemon-block,
.pokemon-block-back {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    margin-top: auto;
}

.pokemon-block-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0%;
    display: flex;
    padding:10px
}

.stat-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    text-align: left;
    padding-top: 10px;
    padding-left: 50px;
    width: 100%;
}

@media (max-width:1399px) {
    .stat-container{
        padding-left: 25px;
    }    
}

@media (max-width:1199px) {
    .stat-container{
        padding-left: 0px;
    }    
}

.progress{
    margin-top: 2px;
    margin-left: 5px;
}